.parent-div{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}


.App{
  text-align: center;
  background-color:#FBFBFB;
}

.one-div {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
  width: 500px;
  min-height: 70vh;
 
}

input {
  width: 80%;
  border-radius: 5px;
  height: 30px;
  border: 1px solid black;
}

.input-group{
  text-align: center;
}

button {
  padding: 10px 10px;
  margin-left: 10px;
}

ul{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}

.message{
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.list-item {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%; 
  /* margin-right: 40px; */
}

.list-value{
  margin-left: 10px;
}

.list-item-content {
  display: flex;
  align-items: center;
}

.list-checkbox {
  margin-right: 10px; 
  width: 30px;
}

.footer {
  background-color:#19489b;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 20px;
  padding: 10px 0;
  margin-top: 10px;
}

ul{
  padding: 10px;
}
@media (max-width: 768px) {
  .list-item {
    width: 100%;
  }
  .input-field{
    width: 73%;
  }
}